body {
  background: #C6FFDD;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Kanit', sans-serif;
  font-size: 0.8rem;
}

.emptyHeader {
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
  align-items: center;
  color: black;
  font-family: 'Sansita Swashed', cursive;
  font-size: 3rem;
}

.header_show {
  display: none;
}

.complete-class {
  color: black;
  background: #AAFFA9;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #11FFBD, #AAFFA9);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #11FFBD, #AAFFA9);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.none {
  display: none;
}

.kek {
  display: flex;
  position: relative;
}

button {
  /* border-radius: 30px; */
}

button.btn {
  margin-right: 10px;
}

button#deleteAll {
  position: absolute;
  right: 15px;
}